{% extends "base.html" %}

{% block content-main %}
    <div class="uk-container uk-container-center uk-margin-top">
        {% block content-container %}
        <div class="uk-grid">
            <div class="uk-width-3-5">
                {% block content %}{% endblock %}
            </div>
            <div class="uk-width-2-5">
                {% block sidebar %}
                    <div class="uk-panel uk-panel-box">
                        <p>
                            А это блок для чего-то.
                        </p>
                        <p>
                            Для чего он именно - я пока не решил.
                            Но без него список записей слишком широкий и страшный.
                            А я не хочу, чтобы он был страшным.
                            Поэтому я разместил тут этот блок.
                        </p>
                        <p>
                            Возможно, в нем будет дополнительная навигация в виде тегов
                            или что-то еще, не менее полезное, например номальный плеер
                            с возможность составить свой плейлист, полистать его и все такое.
                        </p>
                    </div>
                {% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}