{% extends 'sound/base.html' %}

{% load account %}

{% block title %}{{ request_object.title }}{% endblock %}

{% block li_request_list %} class="uk-active" {% endblock %}

{% block content %}
    <article class="uk-article">
        <h1 class="uk-article-title">{{ request_object.title }}</h1>
        <p class="uk-article-meta">
            запрос поступил от пользователя
            <a href="{{ request_object.user.profile.get_absolute_url }}">
                {% user_display request_object.user %}
            </a>
            {{ request_object.created }}
        </p>

        {% if request_object.description %}
        <hr class="uk-article-divider">
        <p>{{ request_object.description|linebreaks }}</p>
        {% endif %}

        {% if request_object.url_to_source %}
        <hr class="uk-article-divider">
        <p><b>Ссылка на оригинал:</b> {{ request_object.url_to_source }}</p>
        {% endif %}

        {% if request_object.text_source %}
        <hr class="uk-article-divider">
        <h3>Оригинал</h3>
        <p>{{ request_object.text_source|linebreaks }}</p>
        {% endif %}

    </article>
{% endblock %}

{% block sidebar %}
    <div class="uk-panel uk-panel-box">
        <div class="status">
            <b>Статус:</b> {{ request_object.get_status_display }}
        </div>
        {% if artist_requests %}
        <h5>Принимают участие:</h5>
            <div class="uk-row">
            {% for artist_request in artist_requests %}
                <div class="uk-width-1-3">
                    {% include "sound/snippets/author_list_short.html" with author=artist_request.voice %}
                    {% if artist_request.voice.user == user and request_object.status != %}
                        <a
                            class="uk-button uk-width-1-1 uk-button-danger uk-margin-top"
                            href="{% url "request-author-get-out" request_object.pk artist_request.pk %}"
                        >отказаться</a>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
    {% for voice in user.voices.all %}
        {% if voice not in user_voices_in %}
        <a
                class="uk-button uk-width-1-1 uk-button-primary uk-margin-top"
                href="{% url "request-author-get-in" request_object.pk voice.pk %}"
        >принять участие {{ voice.name }}</a>
        {% endif %}
    {% endfor %}
{% endblock %}