{% extends 'sound/base.html' %}

{% load i18n crispy_forms_tags %}

{% block title %}Новый запрос{% endblock %}

{% block li_request_create %} class="uk-active" {% endblock %}

{% block content %}
    <h1>Прочтите для меня, пожалуйста</h1>
    <hr class="border-top border-color-main">
    <form class="uk-form uk-form-horizontal" id="signup_form" method="post" action="{% url 'request-create' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="uk-form-row">
            <div class="uk-form-controls">
                <button class="uk-button uk-button-success" type="submit">Отправить</button>
            </div>
        </div>
    </form>
{% endblock %}