{% extends 'sound/base.html' %}

{% load i18n crispy_forms_tags %}

{% block title %}Новый запрос{% endblock %}

{% block li_request_create %} class="uk-active" {% endblock %}

{% block content %}
    <h1>Прочтите для меня, пожалуйста</h1>
    <hr class="border-top border-color-main">
    <form class="uk-form uk-form-horizontal" id="signup_form" method="post" action="{% url 'request-create' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="uk-form-row">
            <div class="uk-form-controls">
                <button class="uk-button uk-button-success" type="submit">Отправить</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block sidebar %}
    <div class="uk-panel uk-panel-box">
        <p>
            <b>Что будем читать?</b> - обязательное для заполенния поле, собственно, суть запроса,
            название произведения котрое Вы хотите услышать.
        </p>
        <p>
            <b>Подробности</b> - в этом поле можно указать дополнительную информацию, например, можно написать,
            что вы хотите услышть только женский вариант прочтения, либо хотите, чтобы исполнитель прочитал все
            произведения шепетом. В общем, любые ваши капризы.
        </p>
        <p>
            <b>Ссылка на оригинал</b> - ссылка на произведение, котороые вы хотите услышать.
            Если, конечно, она у вас есть. Если произведение, которое Вы хотите услышать, достаточно известное,
            то исполнитель сам без проблем его найдет (например, произведение А. С. Пушкина "Сказка о рыбаке и рыбке").
            Однако, если вас интересует какая-то определенная редакция произведения, либо произведение не столь
            широко известно, то можно прикрепить ссылку на него. Если возможности получить публичную сслку нет,
            то можно воспользоваться следующим полем, прикрепив текст оригинала к заявке целиком.
        </p>
        <p>
            <b>Оригинал</b> - оригинал (желательно с указанием автора) произведения, которое вы хотите услышать.
        </p>
    </div>
{% endblock %}