{% extends 'sound/base.html' %}

{% block title %}Список аудиозаписей{% endblock %}

{% block content %}
    <article class="uk-article">
        <h1 class="uk-article-title">{{ sound.text.name }}</h1>
        <p class="uk-article-meta">
            Озвучка: <a href="{{ sound.author.get_absolute_url }}">{{ sound.author }}</a>,
            автор текста: <a href="{{ sound.text.author.get_absolute_url }}">{{ sound.text.author }}</a>
        </p>
        <hr class="uk-article-divider">
        <audio class="uk-width-1-2" src="{{ sound.file.url }}" preload="none" controls></audio>
    </article>
    <h4>Другие варианты озвучки</h4>
    {% for other_sound in sound.get_other_sounds %}
        <p>
            <a href="{{ other_sound.get_absolute_url }}">
            читает {{ other_sound.author }}
            </a>
        </p>
    {% empty %}
        <p>записей не найдено</p>
    {% endfor %}
{% endblock %}