{% extends "user_profile/base.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}Управление e-mail адресами аккаунта{% endblock %}

{% block sidebar %}
    {% include "user_profile/snippets/profile_sidebar.html" with user_data=user %}
{% endblock %}

{% block content %}
    <h1>{% trans "E-mail Addresses" %}</h1>
    <hr class="border-top border-color-main">
{% if user.emailaddress_set.all %}
<p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

<form action="{% url 'account_email' %}" class="email_list uk-form uk-form-horizontal" method="post">
    {% csrf_token %}

    {% for emailaddress in user.emailaddress_set.all %}
    <div class="uk-form-row">
        <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">
            <input
                    id="email_radio_{{forloop.counter}}"
                    type="radio"
                    name="email"
                    {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %}
                    value="{{emailaddress.email}}"
            />
            {{ emailaddress.email }}

            {% if emailaddress.verified %}
            <div class="uk-badge uk-badge-primary">{% trans "Verified" %}</div>
            {% else %}
            <div class="uk-badge uk-badge-warning">{% trans "Unverified" %}</div>
            {% endif %}

            {% if emailaddress.primary %}<div class="uk-badge uk-badge-success">{% trans "Primary" %}</div>{% endif %}
        </label>
    </div>
    {% endfor %}

    <div class="uk-form-row">
          <button class="secondaryAction uk-button uk-button-primary" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
          <button class="secondaryAction uk-button uk-button-primary" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
          <button class="primaryAction uk-button uk-button-danger" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
    </div>

</form>

{% else %}
<p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>

{% endif %}


    <h2>{% trans "Add E-mail Address" %}</h2>
    <hr class="border-top border-color-main">
    <form method="post" action="{% url 'account_email' %}" class="add_email uk-form uk-form-horizontal">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="uk-form-row">
            <div class="uk-form-controls">
                <button class="uk-button uk-button-success" name="action_add" type="submit">{% trans "Add E-mail" %}</button>
            </div>
        </div>
    </form>

{% endblock %}


{% block extra_body %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
