{% extends "user_profile/base.html" %}

{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block sidebar %}
    {% include "user_profile/snippets/profile_sidebar.html" with user_data=user %}
{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>
    <hr class="border-top border-color-main">
    <form method="POST" action="{% url 'account_change_password' %}" class="uk-form uk-form-horizontal">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="uk-form-row">
            <div class="uk-form-controls">
                <button class="uk-button uk-button-success" type="submit">{% trans "Change Password" %}</button>
            </div>
        </div>
    </form>
{% endblock %}
