{% extends "user_profile/base.html" %}

{% load account static %}

{% block title %}Список пользователей{% endblock %}

{% block content-container %}
     <h1>
        <i class="uk-icon-users color-primary"></i>
         Список пользователей
    </h1>
    <hr class="border-top border-color-main">
    <div class="users_list">
        {% for user in object_list%}
            <div class="uk-width-1-4">
            {% include "user_profile/snippets/user_list_short.html" with user_data=user %}
            </div>
        {% endfor %}
    </div>
{% endblock %}