{% extends "user_profile/base.html" %}

{% load account static crispy_forms_tags %}

{% block title %}Изменения данных пользователя: {% user_display user_data %}{% endblock %}

{% block content %}
    <h1>Изменения профиля</h1>
    <hr class="border-top border-color-main">
    <form class="uk-form uk-form-horizontal" method="post" enctype="multipart/form-data" action="{%  url 'user-profile-edit' username=user_data.username %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="uk-form-row">
            <div class="uk-form-controls">
                <button class="uk-button uk-button-success" type="submit">Отправить</button>
            </div>
        </div>
    </form>
{% endblock %}