{% extends 'text/base.html' %}

{% block title %}Коллекция прочитанных произведений{% endblock %}

{% block content %}
    <h1>{% if current_category %}{{ current_category.name }}{% else %}Коллекция прочитанного{% endif %}</h1>
    <hr class="border-top border-color-main">
    {% for text in text_list %}
        {% include "text/snippets/text_list.html" with text=text mode="short" %}
    {% endfor %}
    {% if is_paginated %}
        {% include "_pagination.html" %}
    {% endif %}
{% endblock %}

{% block sidebar %}
<div class="uk-panel uk-panel-box">
    <h3>Подразделы</h3>
    <ul class="uk-nav uk-nav-side">
    {% for category in categories %}
       <li{% if category == current_category %} class="uk-active"{% endif %}><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}