{% extends 'base.html' %}

{% block title %}Как тут все устроено?{% endblock %}

{% block content-main %}
<div class="uk-container uk-container-center uk-margin-top">
    <h1>Как тут все устроено?</h1>
    <hr class="border-top border-color-main">
    <div class="uk-grid">
        <div class="uk-width-1-2">
            <p>
                Добро пожаловать, привет, добрый вечер, день, ночь, утро... аллоха и все такое прочее.
                Не знаю какич чудом ты попал к нам, но вот ты здесь. И мы тебе рады.
            </p>
            <h3>Чем мы занимаемся?</h3>
            <p>
                Мы читаем друг другу... да, собственно, все подрят читаем друг другу.
                Все, что ни попросят: сказки, рассказы, стихи, отрывки из поэм или целые произведения.
                Главное вежливо попросить, а хороший человек, который все сделаем в лучшем виде, всегда найдентся!
            </p>
            <h3>Сколько это стоит?</h3>
            <p>
                Нисколько это не стоит. Это бесплатно.
            </p>
            <p>
                "Безвоздмездно! То есть дадом!", как говорила Сова.
            </p>
        </div>
        <div class="uk-width-1-2">
            <h3>А мне можно?</h3>
            <p>
                Конечно! Оставить заявку на прочтение можно будет сразу после регистрации на сайте.
                Там даже почту указывать не обязательно, только свой никнейм и пароль.
            </p>
            <p>
                А вот если хочется самому почтитать для кого-то, то тут придется сделать пару лишних кликов.
                После регистрации нужно будет зайти к себе в профиль и жмякнуть большую кнопку "хочу читать".
                В сопроводительном тексте можно написать что-нибудь полезное, например, что у вас приятный баритон,
                что вы солист вокально-инструментального ансамбля или просто хороший человек с микрофоном.
                А чтобы у модератора не оставалось никаких сомнений, то можно еще и свою запись прицепить к заявке.
                После этого заявка упадет нам на почту, а мы уже одобрим ее (или нет).
            </p>
            <p>
                Если все прошло хорошо, то у Вас появится новый раздел на сайте, куда можно загружать свои записи.
            </p>
        </div>
    </div>
</div>
{% endblock %}