{% extends 'base.html' %}

{% block title %}Как тут все устроено?{% endblock %}

{% block content-main %}
<div class="uk-container uk-container-center">
<div class="white-container">
    <h1>Как тут все устроено?</h1>
    <hr class="border-top border-color-main">
    <div class="uk-grid">
        <div class="uk-width-1-2">
            <p>
                Добро пожаловать, привет, добрый вечер, день, ночь, утро... аллоха и все такое.
                Не знаю какич чудом ты попал к нам, но вот ты здесь, и мы тебе рады.
            </p>
            <h3>Чем мы занимаемся?</h3>
            <p>
                Мы читаем друг другу... да, собственно, все подрят читаем друг другу.
                Все, что ни попросят: сказки, рассказы, стихи, отрывки из поэм или целые произведения.
                Отдельные реплики или фразы, читаем по ролям, читаем не своим голосом, читаем шепотом или на иностранном языке.
                Главное - вежливо попросить, а хороший человек, который все сделает в лучшем виде, всегда найдется!
            </p>
            <h3>Сколько это стоит?</h3>
            <p>
                Нисколько это не стоит. Это бесплатно. И вводить какую-либо плату мы не планируем.
            </p>
            <p>
                "Безвоздмездно! То есть дадом!", как говорила Сова.
            </p>
        </div>
        <div class="uk-width-1-2">
            <h3>А мне можно?</h3>
            <p>
                Конечно! Оставить заявку на прочтение можно будет сразу после регистрации на сайте.
                Там даже почту указывать не обязательно, только свой никнейм и пароль.
            </p>
            <p>
                А вот если хочется самому публиковать аудиозаписи, то тут придется сделать пару лишних кликов.
                После регистрации нужно будет зайти к себе в профиль и жмякнуть большую кнопку "хочу читать".
                В сопроводительном тексте можно написать что-нибудь полезное, например, что у вас приятный баритон,
                что вы солист вокально-инструментального ансамбля или просто хороший человек с микрофоном.
                А чтобы у модератора не оставалось никаких сомнений, то можно еще и аудиозапись прицепить к заявке
                (например, добавить ссылку на дропбокс или яндекс.диск с вашей записью).
                После этого заявка упадет нам на почту, а мы уже одобрим ее (или нет).
                В любом случае, какую-то обратную связь от нас получишь.
            </p>
            <p>
                Если все прошло хорошо, то появится новый раздел на сайте, куда можно загружать свои записи.
                Твое имя появится в списке "голосов" проекта, сможешь сам залить свежую аватарку, поправить описание и все такое.
                Если у тебя несколько "персонажей", которыми ты читешь, то мы можеи прикрепить к твоему профилю несколько
                "голосов".
            </p>
        </div>
    </div>
</div></div>
{% endblock %}