{% extends 'base.html' %}

{% load static %}

{% block content-main %}
<div class="uk-container uk-container-center">
    <div class="uk-grid">
        <div class="uk-width-3-5">
            <div class="white-container">
                <div class="uk-grid">
                    <div class="uk-width-2-5">
                        <div
                            class="uk-cover-background uk-position-relative index-text-block"
                            style="background-image: url('{% static 'app/img/how.jpg' %}');"
                        >
                            <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle uk-text-center index-text-block-background">
                                Как<br/>
                                все<br/>
                                работает?
                            </div>
                            <a class="uk-position-cover" href="{% url 'how' %}"></a>
                        </div>
                    </div>
                    <div class="uk-width-3-5">
                        <div
                            class="uk-cover-background uk-position-relative index-text-block"
                            style="background-image: url('{% static 'app/img/sound-author-list.jpg' %}');"
                        >
                            <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle uk-text-center index-text-block-background">
                                Люди,<br/>
                                которые<br/>
                                читают
                            </div>
                            <a class="uk-position-cover" href="{% url 'sound-author-list' %}"></a>
                        </div>
                    </div>
                </div>
                <div class="uk-grid">
                    <div class="uk-width-3-5">
                        <div
                            class="uk-cover-background uk-position-relative index-text-block"
                            style="background-image: url('{% static 'app/img/text-author-list.jpg' %}');"
                        >
                            <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle uk-text-center index-text-block-background">
                                Люди,<br/>
                                которые<br/>
                                пишут
                            </div>
                            <a class="uk-position-cover" href="{% url 'text-author-list' %}"></a>
                        </div>
                    </div>
                    <div class="uk-width-2-5">
                        <div
                            class="uk-cover-background uk-position-relative index-text-block"
                            style="background-image: url('{% static 'app/img/text-list.jpg' %}');"
                        >
                            <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle uk-text-center index-text-block-background">
                                Все,<br/>
                                что<br/>
                                читали
                            </div>
                            <a class="uk-position-cover" href="{% url 'text-list' %}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-2-5">
            <h2>
                <i class="uk-icon-volume-up color-primary"></i>
                Последнее прочитанное
            </h2>
            <hr class="border-top border-color-main">
            <div class="sound-list">
                {% for sound in last_sounds %}
                    {% include "sound/snippets/sound_list.html" with sound=sound mode="short" %}
                {% empty %}
                    <p>Ни одной новой записи, господа :( как же так...</p>
                {% endfor %}
            </div>
            <h2>
                <i class="uk-icon-microphone color-primary"></i>
                Новые голоса
            </h2>
            <hr class="border-top border-color-main">
            <div class="voice-list">
                <div class="uk-grid uk-grid-small">
                {% for voice in last_voices %}
                    <div class="uk-width-1-2">
                    {% include "sound/snippets/author_list_short.html" with author=voice %}
                    </div>
                {% empty %}
                    <p>Ни одного нового голоса, господа :( как же так...</p>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}