{% extends 'base.html' %}

{% block content-main %}
<div class="uk-container uk-container-center uk-margin-large-top">
    <div class="uk-grid">
        <div class="uk-width-1-2">
            <h2>
                <i class="uk-icon-microphone uk-text-success"></i>
                Последнее прочитанное
            </h2>
            <hr class="uk-">
            <div class="sound-list">
                {% for sound in last_sounds %}
                    {% include "sound/snippets/sound_list.html" with sound=sound mode="short" %}
                {% empty %}
                    <p>Ни одной новой записи, господа :( как же так...</p>
                {% endfor %}
            </div>
        </div>
        <div class="uk-width-1-2">
            <h2>Новые голоса</h2>
            <hr class="uk-text-primary">
        </div>
    </div>
</div>
{% endblock %}