@font-face {
    font-family: 'anglecia_pro_dspregular';
    src: url('../fonts/anglecia_pro_display_regular_cyrillic/AngleciaProDisplay-Regular-webfont.eot');
    src: url('../fonts/anglecia_pro_display_regular_cyrillic/AngleciaProDisplay-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/anglecia_pro_display_regular_cyrillic/AngleciaProDisplay-Regular-webfont.woff2') format('woff2'),
         url('../fonts/anglecia_pro_display_regular_cyrillic/AngleciaProDisplay-Regular-webfont.woff') format('woff'),
         url('../fonts/anglecia_pro_display_regular_cyrillic/AngleciaProDisplay-Regular-webfont.ttf') format('truetype'),
         url('../fonts/anglecia_pro_display_regular_cyrillic/AngleciaProDisplay-Regular-webfont.svg#anglecia_pro_dspregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.border-top {
    border-top-width: 5px;
    border-top-style: solid;
}

.border-bottom {
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.border-color-main {
    border-color: #1FA2D6;
}

.color-primary {
    color: #1FA2D6;
}

.uk-navbar {
    margin-bottom: 20px;
    font-family: 'anglecia_pro_dspregular';
}

.uk-navbar-brand, .uk-navbar-content, .uk-navbar-toggle,
.uk-navbar-nav>li>a {
    height: 70px;
    line-height: 70px;
    font-size: 16px;
}

.navbar-after-brand {

}

.sound-item {
    margin-bottom: 15px;
}

audio {
    height: 30px;
}

.index-text-block {
    height: 300px;
    font-size: 40px;
    line-height: 60px;
    color: #FFF;
}

.index-text-block-background {
    background: rgba(0, 0, 0, 0.2)
}
