html, body {
    background: #f0eeef;
	height: 100%;
}

.border-top {
    border-top-width: 5px;
    border-top-style: solid;
}

.border-bottom {
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.border-color-main {
    border-color: #1FA2D6;
}

.color-primary {
    color: #1FA2D6;
}

.uk-navbar {
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #ccc;
    background: #f0eeef;
}

.uk-panel-box {
    background: #f0eeef;
}

.footer {
    border-top: 1px solid #ccc;
    margin: 0px;
    background: #f0eeef;
}

#main-content {
    padding-top: 100px;
    padding-bottom: 30px;
    min-height: 500px;
    background: #f8f7f7;
}

#main-content .white-container {
    padding: 35px;
    background: #fefefe;
}

.uk-navbar-brand, .uk-navbar-content, .uk-navbar-toggle,
.uk-navbar-nav>li>a {
    height: 70px;
    line-height: 70px;
    font-size: 16px;
}

.navbar-after-brand {

}

.sound-item {
    margin-bottom: 15px;
}

audio {
    height: 30px;
}

.sound-file {
    margin: 10px 0;
}

.index-text-block {
    height: 300px;
    font-size: 40px;
    line-height: 60px;
    color: #FFF;
}

.index-text-block-background {
    background: rgba(0, 0, 0, 0.2)
}
