<!DOCTYPE html>{% load static account %}
<html>
    <head>
        <title>{% block title %}Авторские прочтения и озвучка всего на свете{% endblock %} :: Почитаешь мне?</title>
        <link rel="stylesheet" href="{% static 'uikit/css/uikit.min.css' %}" />
        <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
        <script type="text/javascript" async src="https://relap.io/api/v6/head.js?token=8mIbmY4KHuMe7uvu"></script>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <nav class="uk-navbar border-top border-color-main uk-navbar-attached ">
            <div class="uk-container uk-container-center">
                <a href="{% url 'index' %}" class="uk-navbar-brand">
                    <img
                            src="{% static 'app/img/logo.svg' %}"
                            data-uk-svg
                            width="174"
                            height="50"
                            alt="can your read for me?"
                    >
                </a>
                <ul class="uk-navbar-nav navbar-after-brand">
                    <li{% block li_sound_list %}{% endblock %}>
                        <a href="{% url 'sound-list' %}">Послушать</a>
                    </li>
                    <li{% block li_request_list %}{% endblock %}>
                        <a href="{% url 'request-list' %}">Запросы на озвучку</a>
                    </li>
                    <li{% block li_request_create %}{% endblock %}>
                        <a href="{% url 'request-create' %}">Оставить запрос</a>
                    </li>
                </ul>

                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="uk-parent" data-uk-dropdown>
                            <a href="{{ user.profile.get_absolute_url }}">{% user_display user %} <i class="uk-icon-caret-down"></i></a>
                            <div class="uk-dropdown uk-dropdown-navbar">
                                <ul class="uk-nav uk-nav-navbar">
                                    {% if  user.profile.is_voice_artist %}
                                    <li class="uk-nav-header">Ваши "голоса"</li>
                                    {% for voice in user.voices.all %}
                                    <li><a href="{{ voice.get_absolute_url }}">{{ voice.name }}</a></li>
                                    {% endfor %}
                                    {% endif %}
                                    <li class="uk-nav-header">Ваш профиль</li>
                                    <li><a href="{% url 'user-profile-edit' username=user.username %}">редактировать</a></li>
                                    <li><a href="{% url 'account_change_password' %}">сменить пароль</a></li>
                                    <li><a href="{% url 'account_email' %}">управление e-mail</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="{% url 'account_logout' %}">Выход</a></li>
                        {% else %}
                        <li><a href="{% url 'account_login' %}">Вход</a></li>
                        <li><a href="{% url 'account_signup' %}">Регистрация</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div id="main-content">
        {% block content-main %}{% endblock %}
        </div>
        <div class="footer uk-block">
            <div class="uk-container uk-container-center">
                <div class="uk-grid">
                    <div class="uk-width-1-4">
                        <h3>Можно посмотреть</h3>
                        <hr class="border-top border-color-main">
                        <ul class="uk-nav">
                            <li><a href="{% url 'how' %}">О проекте</a></li>
                            <li><a href="{% url 'sound-author-list' %}">Люди и их голоса</a></li>
                            <li><a href="{% url 'text-author-list' %}">Люди и их тексты</a></li>
                            <li><a href="{% url 'text-list' %}">Коллекция прочитанного</a></li>
                        </ul>
                    </div>
                    <div class="uk-width-1-2">
                    </div>
                    <div class="uk-width-1-4 uk-text-right">
                        <p>{% now "Y" %} &copy; Почитаешь мне?</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'app/js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'uikit/js/uikit.min.js' %}"></script>
        {% block extra_body %}{% endblock %}
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter41354139 = new Ya.Metrika({
                            id:41354139,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/41354139" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    </body>
</html>