<!DOCTYPE html>{% load static account %}
<html>
    <head>
        <title>{% block title %}Прочти этот текст для меня{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'uikit/css/uikit.min.css' %}" />
    </head>
    <body>
        <nav class="uk-navbar">
            <div class="uk-container uk-container-center">
                <a href="/" class="uk-navbar-brand">RTTTM</a>
                <ul class="uk-navbar-nav">
                    <li><a href="{% url "text-list" %}">Тексты</a></li>
                    <li><a href="{% url "sound-list" %}">Озвучка</a></li>
                    <li class="uk-parent" data-uk-dropdown>
                        <a href="#">Люди <i class="uk-icon-caret-down"></i></a>
                        <div class="uk-dropdown uk-dropdown-navbar">
                            <ul class="uk-nav uk-nav-navbar">
                                <li><a href="{% url 'text-author-list' %}">за текстом</a></li>
                                <li><a href="{% url 'sound-author-list' %}">за звуком</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="{% url 'request-list' %}">Заявки</a></li>
                </ul>
                <div class="uk-navbar-flip">
                    <ul class="uk-navbar-nav">
                        {% if user.is_authenticated %}
                        <li><a href="{{ user.profile.get_absolute_url }}">{% user_display user %}</a></li>
                        <li><a href="{% url 'account_logout' %}">Выход</a></li>
                        {% else %}
                        <li><a href="{% url 'account_login' %}">Вход</a></li>
                        <li><a href="{% url 'account_signup' %}">Регистрация</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block content-main %}{% endblock %}
        <script src="{% static 'app/js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'uikit/js/uikit.min.js' %}"></script>
    </body>
</html>